body{
    /* color:rgb(32, 170, 229); */
    background: white;
    overflow: hidden;
} 

h1 {
    font-family: vintage;
}

.hex-grid div {
    opacity: 0;
}

.hex-container div, .top {
    z-index: 200;
}

.center-content-1 {
    display: none;
    position: absolute;
    left: calc(50% - 184.2px);
    top: 50%;
}

.center-content-1 a {
    border-bottom: 2px solid black;
    color: black;
    padding: 5px;
    background-color: transparent;
    font-weight: bold;
}

.center-content {
    position: absolute;
    z-index: 1000;
    left: calc(50% - 184.2px);
    bottom: 5%;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 20px white;
}

.center-content a {
    border-bottom: 2px solid black;
    color: black;
    padding: 5px;
    background-color: transparent;
    font-weight: bold;
}

.page0, .page1, .page2, .page3, .page4, .page5 {
    height: 100vh;
}
.page0 {
    display: block;
    background-color: white;
}
.page1 {
    display: none;
    background-color: cyan;
    overflow: hidden;
}
.page2 {
    display: none;
    background-color: white;
}
.page3 {
    display: none;
    background-color: purple;
}
.page4 {
    display: none;
    background-color: greenyellow;
}
.page5 {
    display: none;
    background-color: yellow;
}

 .myVideo, .myVideo2, .myVideo3, .myVideo4, .myVideo5, .myVideo6 {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    border: 1px solid red;
    position: fixed;
    bottom: 0;
    background: rgb(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.contents {
    background-color: white;
    padding: 15px;
    position: absolute;
    /* left: 40%; */
    top: 40%;
    z-index: 105;
    color: black;
}

.clip1, .clip2, .clip3, .clip4, .clip5 {
    width: 100%;
}







/* Hello Vintage Font */
@font-face {
    font-family: vintage;
    src: url(fonts/vintage.TTF);
}

/* Hacked Font */
@font-face {
    font-family: hacked;
    src: url(fonts/HACKED.TTF);
}

.logo {
    text-align: center;
    color: white;
    font-size: 100px;
    position:absolute;
    width: 100%;
    top: 20%;
}

.enter_button{
    /* border: 2px solid black; */
    font-size: 40px;
    padding: 5px;
    color: black;
    background-color: transparent;
    margin: 0 auto;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}

.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

.navbar-bg {
    /* background-color: rgb(32, 170, 229, 0.5); */
}

/* .name_logo {
    position: absolute;
    left: calc(50% - 250px);
    top: 15%;
    width: 500px;
} */

.headshot {
    width: 200px;
    height: 200px;
    /* background-color: white; */
    /* border-radius: 55%; */
}

.header {
    height: 200px;
    /* background-image: url(images/P1060124.jpg); */
}

.details {
    color: white;
    text-align: center;
    margin: 10px;
}

.page {
    /* border: 1px solid white; */
    min-height: 200px;
    width: 100%;
}

/* Projects */
.project {
    font-family: vintage;
}

.about-page {
    text-align: center;
}

.projects-page {
    height: 90vh;
    position: relative;
}

.work-page {
    height: 90vh;
    position: relative;
    overflow: hidden;
    /* background-color: black; */
}

.hex-box {
    position: absolute;
    left: calc(50% - 86px);
    top: 241px;
    margin: auto;
}

.hex-box-2 {
    position: absolute;
    left: calc(50% - 218px);
    top: 316px;
    margin: auto;
}

.hex-box-3 {
    position: absolute;
    left: calc(50% - 218px);
    top: 163px;
    margin: auto;
}

.hex-box-4 {
    position: absolute;
    left: calc(50% - 86px);
    top: 88px;
    margin: auto;
}

.hex-box-5 {
    position: absolute;
    left: calc(50% + 46px);
    top: 164px;
    margin: auto;
}

.hex-box-6 {
    position: absolute;
    left: calc(50% + 46px);
    top: 318px;
    margin: auto;
}

.hex-box-7 {
    position: absolute;
    left: calc(50% - 86px);
    top: 394px;
    margin: auto;
}

.description-box {
    opacity: 0;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    /* margin-top: -50px;
    margin-left: -50px; */
    /* width: 100px;
    height: 100px; */
}

.reload {
    position: absolute;
    left: calc(50% - 20px);
    bottom: 80px;
    opacity: 0;
}

.hex-grid {
    z-index: 101;
}

/* New hexagon */
svg{
    width:175px;
    margin:0 auto;
}
#hex{
    /* stroke-width:2; */
    /* fill-opacity:0.6; */
    /* transition:fill-opacity .8s; */
}
#hex:hover{
    /* fill-opacity:1; */
    stroke: yellow;
    /* fill: #20AAE5; */
}
#text{
    stroke-width:0.5;
    stroke:red;
    /* fill-opacity:0.4; */
    fill: red;
    /* transition:fill-opacity .8s; */
}
/* #hex:hover + #text{
    fill-opacity:1;
} */


.video {
    margin-left: calc(50% - 160px);
    margin-top: 100px;
}



/* Background Video */
.fullscreen-bg {
    position: fixed;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0px;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    /* border: 2px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

/* Shake Effect */
svg:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }



/* Dynamics testing */
.hex-fill {
    stroke-width: 0.5px;
}

.hex-row-1_1 {
    position: absolute;
    left: calc(50% - 86px);
    top: 241px;
    margin: auto;
}

.hex-row-2_1 {
    position: absolute;
    left: calc(50% - 86px);
    top: 88px;
    margin: auto;
}

.hex-row-2_2 {
    position: absolute;
    left: calc(50% + 46px);
    top: 164px;
    margin: auto;
}

.hex-row-2_3 {
    position: absolute;
    left: calc(50% + 46px);
    top: 318px;
    margin: auto;
}

.hex-row-2_4 {
    position: absolute;
    left: calc(50% - 86px);
    top: 394px;
    margin: auto;
}

.hex-row-2_5 {
    position: absolute;
    left: calc(50% - 218px);
    top: 316px;
    margin: auto;
}

.hex-row-2_6 {
    position: absolute;
    left: calc(50% - 218px);
    top: 164px;
    margin: auto;
}

.hex-row-3_1 {
    position: absolute;
    left: calc(50% - 85px);
    top: -65px;
    margin: auto;
}

.hex-row-3_2 {
    position: absolute;
    left: calc(50% + 46px);
    top: 11px;
    margin: auto;
}

.hex-row-3_3 {
    position: absolute;
    left: calc(50% + 178px);
    top: 88px;
    margin: auto;
}

.hex-row-3_4 {
    position: absolute;
    left: calc(50% + 178px);
    top: 241px;
    margin: auto;
}

.hex-row-3_5 {
    position: absolute;
    left: calc(50% + 178px);
    top: 394px;
    margin: auto;
}

.hex-row-3_6 {   
    position: absolute;
    left: calc(50% + 46px);
    top: 472px;
    margin: auto;
}

.hex-row-3_7 {
    position: absolute;
    left: calc(50% - 86px);
    top: 547px;
    margin: auto;
}

.hex-row-3_8 {
    position: absolute;
    left: calc(50% - 218px);
    top: 470px;
    margin: auto;
}

.hex-row-3_9 {
    position: absolute;
    left: calc(50% - 350px);
    top: 394px;
    margin: auto;
}

.hex-row-3_10 {
    position: absolute;
    left: calc(50% - 350px);
    top: 241px;
    margin: auto;
}

.hex-row-3_11 {
    position: absolute;
    left: calc(50% - 350px);
    top: 88px;
    margin: auto;
}

.hex-row-3_12 {
    position: absolute;
    left: calc(50% - 218px);
    top: 11px;
    margin: auto;
}

.hex-row-4_1 {
    position: absolute;
    left: calc(50% + 47px);
    top: -142px;
    margin: auto;
}

.hex-row-4_2 {
    position: absolute;
    left: calc(50% + 179px);
    top: -65px;
    margin: auto;
}

.hex-row-4_3 {
    position: absolute;
    left: calc(50% + 310px);
    top: 11px;
    margin: auto;
}

.hex-row-4_4 {
    position: absolute;
    left: calc(50% + 310px);
    top: 164px;
    margin: auto;
}

.hex-row-4_5 {
    position: absolute;
    left: calc(50% + 310px);
    top: 317px;
    margin: auto;
}

.hex-row-4_6 {
    position: absolute;
    left: calc(50% + 310px);
    top: 470px;
    margin: auto;
}

.hex-row-4_7 {
    position: absolute;
    left: calc(50% + 178px);
    top: 547px;
    margin: auto;
}

.hex-row-4_8 {
    position: absolute;
    left: calc(50% - 350px);
    top: 547px;
    margin: auto;
}

.hex-row-4_9 {
    position: absolute;
    left: calc(50% - 482px);
    top: 470px;
    margin: auto;
}

.hex-row-4_10 {
    position: absolute;
    left: calc(50% - 482px);
    top: 317px;
    margin: auto;
}

.hex-row-4_11 {
    position: absolute;
    left: calc(50% - 482px);
    top: 164px;
    margin: auto;
}

.hex-row-4_12 {
    position: absolute;
    left: calc(50% - 482px);
    top: 11px;
    margin: auto;
}

.hex-row-4_13 {
    position: absolute;
    left: calc(50% - 350px);
    top: -65px;
    margin: auto;
}

.hex-row-4_14 {
    position: absolute;
    left: calc(50% - 218px);
    top: -142px;
    margin: auto;
}

.hex-row-5_1 {
    position: absolute;
    left: calc(50% + 311px);
    top: -142px;
    margin: auto;
}

.hex-row-5_2 {
    position: absolute;
    left: calc(50% + 442px);
    top: -65px;
    margin: auto;
}

.hex-row-5_3 {
    position: absolute;
    left: calc(50% + 442px);
    top: 88px;
    margin: auto;
}

.hex-row-5_4 {
    position: absolute;
    left: calc(50% + 442px);
    top: 241px;
    margin: auto;
}

.hex-row-5_5 {
    position: absolute;
    left: calc(50% + 442px);
    top: 394px;
    margin: auto;
}

.hex-row-5_6 {
    position: absolute;
    left: calc(50% + 442px);
    top: 547px;
    margin: auto;
}

.hex-row-5_7 {
    position: absolute;
    left: calc(50% - 482px);
    top: -142px;
    margin: auto;
}

.hex-row-5_8 {
    position: absolute;
    left: calc(50% - 614px);
    top: -65px;
    margin: auto;
}

.hex-row-5_9{
    position: absolute;
    left: calc(50% - 614px);
    top: 88px;
    margin: auto;
}

.hex-row-5_10 {
    position: absolute;
    left: calc(50% - 614px);
    top: 241px;
    margin: auto;
}

.hex-row-5_11 {
    position: absolute;
    left: calc(50% - 614px);
    top: 394px;
    margin: auto;
}

.hex-row-5_12 {
    position: absolute;
    left: calc(50% - 614px);
    top: 547px;
    margin: auto;
}

.hex-row-6_1 {
    position: absolute;
    left: calc(50% - 746px);
    top: -142px;
    margin: auto;
}

.hex-row-6_2 {
    position: absolute;
    left: calc(50% - 746px);
    top: 11px;
    margin: auto;
}

.hex-row-6_3 {
    position: absolute;
    left: calc(50% - 746px);
    top: 164px;
    margin: auto;
}

.hex-row-6_4 {
    position: absolute;
    left: calc(50% - 746px);
    top: 317px;
    margin: auto;
}

.hex-row-6_5 {
    position: absolute;
    left: calc(50% - 746px);
    top: 470px;
    margin: auto;
}

.hex-row-6_6 {
    position: absolute;
    left: calc(50% + 574px);
    top: -142px;
    margin: auto;
}

.hex-row-6_7 {
    position: absolute;
    left: calc(50% + 574px);
    top: 11px;
    margin: auto;
}

.hex-row-6_8 {
    position: absolute;
    left: calc(50% + 574px);
    top: 164px;
    margin: auto;
}

.hex-row-6_9 {
    position: absolute;
    left: calc(50% + 574px);
    top: 317px;
    margin: auto;
}

.hex-row-6_10 {
    position: absolute;
    left: calc(50% + 574px);
    top: 470px;
    margin: auto;
}

.hex-row-7_1 {
    position: absolute;
    left: calc(50% + 574px);
    top: 623px;
    margin: auto;
}

.hex-row-7_2 {
    position: absolute;
    left: calc(50% + 310px);
    top: 623px;
    margin: auto;
}

.hex-row-7_3 {
    position: absolute;
    left: calc(50% + 46px);
    top: 623px;
    margin: auto;
}

.hex-row-7_4 {
    position: absolute;
    left: calc(50% - 218px);
    top: 623px;
    margin: auto;
}

.hex-row-7_5 {
    position: absolute;
    left: calc(50% - 482px);
    top: 623px;
    margin: auto;
}

.hex-row-7_6 {
    position: absolute;
    left: calc(50% - 746px);
    top: 623px;
    margin: auto;
}



